.cards__item {
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 240px;
    padding: 0;
    margin: 0;
    margin-right: 100px;
}

.cards__item:nth-of-type(3) {
    margin-right: 0;
}