.footer__column-links {
    margin: 20px 0 16px;
    padding: 0px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
    line-height: 30px;
}

.footer__column-links:hover {
    opacity: 0.2;
}