.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  display: flex;
  position: relative;
  /* parameters for the header section */
}

.logo {
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  height: 31px;
  width: 154px;
  top: 30px;
  left: 64px;
}

.header__title {
  align-self: center;
  margin-left: 64px;
  z-index: 1;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  z-index: 1;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 608px;
  width: 765px;
  z-index: 1;

}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.two-columns {
  display: flex;
  flex-direction: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.two-columns__paragraph {
line-height: 34px;
font-size: 24px;
font-weight: normal;
margin-top: 0px;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  }

  .two-columns__brief h2 {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
  }

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.digits__section-title {
  line-height: 1.15px;
  width: 60%;
  text-align: center;
  margin: auto;
}

.digits__section-title h2 {
  font-size: 60px;
  font-weight: bold;
}

.digits__section-subtitle {
  width: 60%;
  text-align: center;
  margin: auto;
}

.digits__section-subtitle h3 {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0px auto 100px;
  
}

.table__cell {
  padding-top: 60px;
  width: 250px;
}

.feynman {
  height: 790px;
  position: relative;
  background-color: #f2f2f2;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  margin: 100px auto 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 70px;
  position: relative;
  z-index: 1;
}

.feynman__image {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
}

.feynman__link {
position: absolute;
right: 48px;
top: 50%;
}

.kaufman {
  overflow: hidden;
  background-color: black;
  position: relative;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  width: 60%;
  margin: 90px auto 20px auto;
  color: white;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto 0 auto;
  text-align: center;
  color: white;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  background-image: url('../images/kaufman-triangle.svg');
}

.table_theme_dark {
  z-index: 1;
  display: flex;
  flex-direction: row;
  margin: 0 auto 0 auto;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  }

.table__cell_theme_dark {
line-height: 1.15;
font-size: 24px;
font-weight: bold;
color: white;
width: 200px;
z-index: 1;
padding: 0;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  color: white;
  width: 200px;
  z-index: 1;
  }

  .footer__columns {
    background-color: black;
    color: white;
    display: flex;
    min-height: 350px;
    padding-top: 60px;
    padding-right: 5%;
    padding-bottom: 40px;
    padding-left: 5%;
    justify-content: space-between;
    

  }

  .logo_place_footer {
    width: 183px;
    height: 35px;
    flex-direction: row;
    margin-top: 0;
    
  }

  .footer__author {
    margin: 16px 0 16px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
  }

  .footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 711px;
  }

  .footer__column-heading {
    margin-top: 60px;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
  }

  .footer__column-links{
    margin: 20px 0 16px;
    padding-left: 0px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
    line-height: 30px;
    color:white;
    line-height: 30px;
  }
  
  .footer__social-icon{
    padding-left: 0px;
    text-decoration: none;
    list-style-type: none;
    font-weight: normal;
     color: white;
     line-height: 30px;
     font-size: 18px;
     height: 16px;
     width: 16px;
  }









